body {
	background-image: url("https://samuel2499.github.io/Sacopayo_WebDev_Midterm/css/img/calendar.jpg");
}
table, td{
	border: 3px solid black;
	border-spacing: 5px;
	padding: 10px;
	border-collapse: separate;
	text-align: center;
	height: 30px;
	font-family: fantasy;
	font-weight: bold;
}
td:hover {
	background-color: white;
	opacity: 0.5;
}
.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.3);
}
