*{
  box-sizing: border-box;
}
body{
  background-image: url("es.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
.container{
  max-width: 400px;
  margin: auto;
  background: 	#32CD32;
  border-radius: 10px;
  max-width: 900px;
}
#banner{
  height: 400px;
  max-width: 900px;
  background: url("es.jgp");
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  border-size: 3px;
  border-color: white;
  border-radius: 3px;
  margin: 10px 0px;
}
#nba{
  padding: 5px 10px; 
  border-style: solid;
  border: 3px solid white;
  margin-bottom: 10px;
}
#AS{
  padding: 5px 10px; 
  border: 3px solid white;
  border-radius: 3px;
}
a{
  color: black;
  text-decoration: underline;
}
ul{
  display: inline-block;
}
.quote{
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
}
